/* login css */
.login-btn-bookhub {
    border-radius: 4px;
    margin-left: 1.8rem;
    cursor: pointer;
    background-color: var(--bg-color);
}
.login-btn{
    padding: 0.5rem;
}

.signUp-btn-bookhub {
    border-radius: 4px;
    padding: 0.7rem 1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--yellow-color);
}
/* .signUp-btn-bookhub:hover{
    border: 1.9px solid var(--white-hover);
} */

.login-form-container {
     display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
     position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.heading-login {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    margin: 2rem auto;
}

.box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.label-bookhub {
    font-size: 1.5rem;
    color: var(--dark-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

/* Close button css */
#close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--primary-gray);
    cursor: pointer;
}

#close-signup-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--primary-gray);
    cursor: pointer;
}

.btn-warning {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 1rem;
}

.password-label{
    position: relative;
    margin-top: 2rem;
}
.input-field {
    border: solid 2px var(--primary-color);
    border-radius: 2px;
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
}
.eye-btn{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: var(--primary-color);
    background: transparent;
    border: none;
    font-size: 1.5rem;
}
.no-account{
    color: var(--primary-gray);
}
.error-text{
    color: #E83A14;
}