/* login css */
.login-btn-bookhub {
    border-radius: 4px;
    border: solid 2px var(--secondary-gray);
    padding: 0.7rem 1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    background-color: var(--bg-color);
}

.login-btn-bookhub:hover {
    border-color: var(--white-hover);
}

.signUp-btn-bookhub {
    border-radius: 4px;
    border: solid 2px var(--border-color);
    padding: 0.7rem 1.5rem;
    margin-left: 1.8rem;
    cursor: pointer;
    background-color: var(--yellow-color);
}

.login-form-container {
     display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
     position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%; 
}

.login-form-container.active {
    right: 0;
}

/* .login_form-bookhub {
    background: var(--white-hover);
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
} */

.heading-login {
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
    margin: 2rem auto;
}

.box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.label-bookhub {
    font-size: 1.5rem;
    color: var(--dark-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.additional-desc {
    padding-top: .8rem;
    color: var(--dark-color);
    font-size: 1.5rem;
}

/* Close button css */
#close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--primary-gray);
    cursor: pointer;
}

#close-signup-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--primary-gray);
    cursor: pointer;
}

.btn-warning {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

/* .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
} */