.task-container {
    background-color: var(--white-hover);
    border-radius: 1.2rem;
    margin: -2rem auto 1.2rem auto;
    height: 65vh;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.task-container::-webkit-scrollbar {
    display: none;
}

.task-list-header {
    position: sticky;
    top: 0px;
    background-color: var(--alert-hover);
    height: 7vh;
    padding: 1rem;
}

.task-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 4px 1rem;
    margin-bottom: 1.2rem;
    color: var(--primary-gray);
    box-shadow: 0 0 2px 1px var(--light-bg);
    transition: all 0.6s ease-in-out;
}

.task-item:hover {
    box-shadow: var(--bg-color) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.task-item-btns {
    align-self: flex-end;
    padding: 0 1rem;
}

.fa-circle-plus {
    background-color: var(--alert-hover);
    line-height: 3rem;
    font-size: 2.7rem;
}
.fa-circle-plus:hover {
    box-shadow: var(--white-hover) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.fa-pen-to-square {
    color: greenyellow;
    background-color: var(--white-hover);
    font-size: 2rem;
}

.fa-trash-can {
    color: var(--price-tag);
    background-color: var(--white-hover);
    font-size: 2rem;
}