.task-container {
    background-color: var(--white-hover);
    border-radius: 1.2rem;
    margin: -2rem auto 1.2rem auto;
    height: 65vh;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.task-container::-webkit-scrollbar {
    display: none;
}

.task-list-header {
    position: sticky;
    top: 0px;
    background-color: var(--white-hover);
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: 1.2rem;
    color: var(--primary-gray);
    box-shadow: 0 0 2px 1px var(--light-bg);
}

.task-item-btns {
    display: flex;
    column-gap: 1.2rem;
    margin: auto 1.2rem;
}

.fa-pen-to-square {
    color: var(--yellow-color);
    background-color: var(--white-hover);
    font-size: 2rem;
}

.fa-trash-can {
    color: var(--price-tag);
    background-color: var(--white-hover);
    font-size: 2rem;
}