@media (max-width:991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .bottom-navbar {
        display: block;
    }

    .icons #search-btn {
        display: block;
    }

    .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-bookhub {
        box-shadow: var(--box-shadow);
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-form.active {
        top: 115%;
        width: 92%;
    }

    .content_for-bookhub {
        text-align: center;
    }

    .style-head {
        font-size: 3.5rem;
    }

    .icons-container {
        margin-left: 7rem;
    }

    .deal-image {
        margin-left: 12rem;
        height: 50vh;
    }
   

    .deal {
        margin-top: 20rem;
    }

    .first {
        top: 6rem;
        position: absolute;
        right: 20rem;
        text-align: center;
    }

    .cards_for-wish {
        margin-top: 22rem;
    }
    .cards_for-book {
        top: 22rem;
        position: relative;
    }
    .cards_for-book-category {
        top: -4rem;
        position: relative;
    }

    .bg-wishlist {
        margin-top: -2rem;
    }

    .bg-cart {
        margin-top: 4rem;
    }

    .center3 {
        top: 20rem;
        bottom: 5rem;
    }

    /* Filter section */
    .invisible {
        display: none;
    }

    section.filter-drawer {
        position: fixed;
        width: 60%;
        height: 90vh;
        overflow: auto;
        z-index: 9;
        top: 14%;
    }

    div.bookhub-container {
        grid-template-columns: 100%;
        margin-top: -3rem;
    }

    div.filter_btn-book {
        display: block;
    }

    div.cart-bookhub {
        margin-top: 0rem;
    }

    .cart-book {
        display: flex;
    }

    .cart-container {
        display: flex;
        flex-direction: column;
        column-gap: 2rem;
    }

    .cart-bookhub .cart-1 {
        width: 90%;
        margin-top: 25rem;
    }

    div.main-style {
        margin-top: 4rem;
    }

    .cart-items-fix {
        margin-top: 25rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}