.checkout-container .heading-3 {
    font-size: 4rem;
}

.checkout-container .checkout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    max-width: 90%;
    width: 100%;
    margin: 4rem auto;
}

.checkout-address input[type="radio"] {
    accent-color: var(--bg-color);
}

.order-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-container .order-details {
    border-radius: 4px;
    border: 1px solid var(--bg-color);
}

.checkout-container .order-items-wrapper {
    padding: 1rem;
}

.hr_line-price {
    display: block;
    width: 100%;
    border-top: 1.3px solid var(--light-color);
    margin: 0rem auto;
}

.checkout-container .title {
    width: initial;
    text-align: center;
    padding: 0.25rem 0;
    font-weight: bold;
    border-bottom: 1px solid var(--bg-color);
}

.checkout-container .address-title {
    text-align: initial;
    border-bottom: initial;
}

.checkout-container .item {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.checkout-container .btn-link {
    font-size: 0.9rem;
    color: var(--bg-color);
}

.checkout-container .btn-link:hover {
    text-decoration: underline;
}

.checkout-container .place-order {
    width: -webkit-fill-available;
    margin: 1rem 0.5rem;
    font-size: 1.7rem;
}

.checkout-container .btn-primary:disabled {
    background-color: var(--bg-color);
    cursor: not-allowed;
}

.item-head3 {
    color: #747b7e;
}

.grand-total {
    color: var(--price-tag);
}