@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
/* My Component Library link  */
@import url("https://rebalance-ui.netlify.app/all_component.css");
/* All CSS Links */
@import url("./styles/navbar.css"); 
@import url("./styles/footer.css");
@import url("./styles/reset.css");
@import url("./styles/media.css");
@import url("./pages/home/home.css");
@import url("./pages/login/login.css");
@import url("./pages/signup/signup.css");
/* @import url("./pages/product/drawer/drawer.css");
@import url("./pages/product/card/card.css"); */

.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-style{
    /* margin-top: 4rem; */
    flex-grow: 1;
}